@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
input {
    border:none;
    text-align: center !important;
    font-family: 'Nanum Gothic', sans-serif;  
    font-weight:bolder;
}
p {
    text-align: center;
}
#block > input{
    display: block;
}
.small_TEXT {
    color :#6c7a89 !important;
    font-size: 13px;
}
.middle_SORT {
    margin-left: auto; 
    margin-right: auto;
}
#middle_SORT {
    margin-left: auto; 
    margin-right: auto;
}